commands:
  01_install_chromium_deps:
    command: |
      yum install -y \
        atk \
        cups-libs \
        gtk3 \
        libXcomposite \
        libXcursor \
        libXdamage \
        libXext \
        libXi \
        libXrandr \
        libXScrnSaver \
        libXtst \
        pango \
        alsa-lib \
        nss \
        libdrm \
        mesa-libgbm 2>/dev/null || true
