.buttonWrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}

.toolbar {
  margin-top: 100px;
  flex: 2;
  padding: 20px;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: white;
  border-radius: 5px;
}

.toolbarFields {
  margin: 10px;
  min-width: 85%;
}
